<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arrow_remove_ads.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 27}</string>
			<key>spriteSourceSize</key>
			<string>{41, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{817, 523}, {41, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {64, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{64, 184}</string>
			<key>spriteSourceSize</key>
			<string>{92, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 616}, {64, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {273, 403}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{273, 403}</string>
			<key>spriteSourceSize</key>
			<string>{275, 405}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 211}, {273, 403}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {65, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 202}</string>
			<key>spriteSourceSize</key>
			<string>{65, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 616}, {65, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 214}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 214}</string>
			<key>spriteSourceSize</key>
			<string>{68, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{817, 307}, {66, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {95, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 235}</string>
			<key>spriteSourceSize</key>
			<string>{97, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{727, 563}, {95, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 254}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 254}</string>
			<key>spriteSourceSize</key>
			<string>{113, 254}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 307}, {113, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {141, 277}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{141, 277}</string>
			<key>spriteSourceSize</key>
			<string>{143, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 552}, {141, 277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 305}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 305}</string>
			<key>spriteSourceSize</key>
			<string>{274, 305}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{722, 0}, {274, 305}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {206, 343}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 343}</string>
			<key>spriteSourceSize</key>
			<string>{206, 345}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 211}, {206, 343}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {217, 371}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{217, 371}</string>
			<key>spriteSourceSize</key>
			<string>{219, 373}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 211}, {217, 371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_achievements.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 880}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {48, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 53}</string>
			<key>spriteSourceSize</key>
			<string>{50, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 762}, {48, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_cloud_game.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 831}, {77, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_games_pupgam.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{885, 391}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_green_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 71}</string>
			<key>spriteSourceSize</key>
			<string>{134, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 616}, {134, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_leaderboards.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{507, 880}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_more_games.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{735, 800}, {77, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_podium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {77, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{77, 82}</string>
			<key>spriteSourceSize</key>
			<string>{79, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 831}, {77, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_rate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{885, 307}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_red_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 71}</string>
			<key>spriteSourceSize</key>
			<string>{134, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 689}, {134, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_remove_ads.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {59, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 65}</string>
			<key>spriteSourceSize</key>
			<string>{61, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 880}, {59, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_restore_purchase.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{78, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 910}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_return.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 915}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_setting.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {75, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 915}, {75, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_sound_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {77, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 82}</string>
			<key>spriteSourceSize</key>
			<string>{79, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{735, 884}, {77, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_sound_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {77, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 84}</string>
			<key>spriteSourceSize</key>
			<string>{79, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 824}, {77, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame_popup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {428, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{428, 182}</string>
			<key>spriteSourceSize</key>
			<string>{428, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 824}, {428, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 54}</string>
			<key>spriteSourceSize</key>
			<string>{224, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 824}, {224, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_popup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {66, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 57}</string>
			<key>spriteSourceSize</key>
			<string>{68, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 762}, {66, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>popup_exit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {450, 238}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{450, 238}</string>
			<key>spriteSourceSize</key>
			<string>{450, 238}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 584}, {450, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>table.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {720, 209}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{720, 209}</string>
			<key>spriteSourceSize</key>
			<string>{720, 209}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {720, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>ingame</string>
		<key>textureFileName</key>
		<string>ingame_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>